<!--The content below is only a placeholder and can be replaced.-->


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="col-md-6">
                    <h1 class=" text-center text-primary">SealCoalting Bid Tracker</h1>
                </div>
                <div class="col-md-6">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/register']"
                    routerLinkActive>Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']"
                     routerLinkActive>Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/bids']"
                     routerLinkActive>List of Bids</a>
                  </li>
                </ul>
                </div>
              
              </div>
            </nav>
          </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NyEqaga3a3o" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
