<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 style="color:#c5e7e4fb; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center; padding: 4px;">
    SealCoating Bid Tracker</h1>
  <a class="navbar-brand" href="#">Bidding Tracker </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul>
      <li class="nav-item">
        <a class="nav-link"
          href="C:\Users\allis\OneDrive\Documents\GitHub\team-gobstoppers\client-angular\src\app\auth\components\register\register.component.html">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          href="C:\Users\allis\OneDrive\Documents\GitHub\team-gobstoppers\client-angular\src\app\auth\components\login\login.component.html">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          href="C:\Users\allis\OneDrive\Documents\GitHub\team-gobstoppers\client-angular\src\app\auth\components\reset-password\reset-password.component.html">Reset
          Password</a>
      </li>
    </ul>
  </div>
</nav>