<h1 class="text-center text-primary">SealCoalting Bid Tracker</h1>

<input [(ngModel)]="newBid.contactFirstName" placeholder="First Name" />
<button (click)="addBid()">Start A New Bid</button>

<table align="center">
  <thead>
    <th>Bid Id #</th>
    <th>Contact Name</th>
    <th>Job Description</th>
    <th>Initial Date of Bid</th>
    <th>Bid Amount</th>
    <th>Address</th>
    <th>City</th>
  </thead>
  <tbody>
    <tr *ngFor="let bid of bids">
      <td>{{ bid.id }}</td>
      <td>{{ bid.contactFirstName }} {{ bid.contactLastName }}</td>
      <td>{{ bid.jobDescription }}</td>
      <td>{{ bid.dateOfOriginalBid }}</td>
      <td>{{ bid.amountOfOriginalBid }}</td>
      <td>{{ bid.address }}</td>
      <td>{{ bid.city }}</td>
    </tr>
  </tbody>
</table>


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">