<div class="row">
    <div class="jumbotron" style="background-color: bisque; height: calc(95vh);">
        <div class="col-md-6 offset-md-3 mt-4">
            <h1
                style="color:rgb(167, 219, 228); font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center; padding: 4px;">
                SealCoating
                Bid Tracker</h1>
            <h3>Reset Password</h3>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">

                <div class="form-group">
                    <label for="resetPasswordEmail">Account Email</label>
                    <input type="email" name="email" ngModel required #email="ngModel" class="form-control"
                        id="resetPasswordEmail" placeholder="Enter email" style="background-color: rgb(221, 240, 230);">
                </div>

                <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Reset Password <i
                        class="fas fa-paper-plane"></i></button>
            </form>
        </div>
        <p class="lead">
            Providing excellent service for all of your coating needs!
        </p>
        <a class="btn btn-lg btn-primary" href="https://youtu.be/b3ZDXPnlOiE" role="button">View tutorial</a>
    </div>
</div>