
    <div class="col-md-12 form-margin">
        
        <h3>Reset Password</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">

            <div class="form-group">
                <label for="resetPasswordEmail">Account Email</label>
                <input type="email" name="email" ngModel required #email="ngModel" class="form-control"
                    id="resetPasswordEmail" placeholder="Enter email">
            </div>

            <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Reset Password <i
                    class="fas fa-paper-plane"></i></button>
        </form>
    </div>
    

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">