<div class="row">
    <div class="col-md-12">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Bidding Tracker </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" href="['register']" routerLinkActive>Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="['login']" routerLinkActive>Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


        <h3>Reset Password</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label for="resetPasswordEmail">Account Email</label>
                <input type="email" name="email" ngModel required #email="ngModel" class="form-control"
                    id="resetPasswordEmail" placeholder="Enter email">
            </div>
            <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Reset Password <i
                    class="fas fa-paper-plane"></i></button>
        </form>
    </div class="row">
    <p class="col-md-8">
        Providing excellent service for all of your coating needs!
    </p>
    <a class="btn btn-lg btn-primary" href="" role="button">View tutorial</a>
</div>

<app-header></app-header>
<app-reset-password></app-reset-password>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">